.cardConsultoria{
    background-color: #9e9e9e;
    margin: 30px;
    color: white;
    margin-bottom: 50px;
}
.links{
    width: 300px;
}
.pricingTable-firstTable_table__getstart{
    background-color: #fec530;
}
.tituloServicios{
    color: black;
}
.card-title{
    text-align: center;
}
.delfosConsul{
    color: black !important;
}